/.DS_Store
/.vscode/*
.vscode/*
.vscode/settings.json
.gitignore
.vscode/settings.json
dat/.DS_Store
.vscode/settings.json
.idea/data-analyst.iml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
